@model Incident
@{
    string title = ViewBag.Action + " Incident";
    ViewBag.Title = title;
}

<h1>@ViewBag.Title</h1>

<form asp-action="Save" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="row mb-3">
        <label asp-for="CustomerID" class="col-form-label col-md-2">Customer</label>
        <div class="col">
            <select asp-for="CustomerID" class="form-select">
                <option value="">Select a customer...</option>
                @foreach (Customer c in ViewBag.Customers) {
                    <option value="@c.CustomerID">@c.FullName</option>
                }
            </select>
        </div>
    </div>

    <div class="row mb-3">
        <label asp-for="ProductID" class="col-form-label col-md-2">Product</label>
        <div class="col">
            <select asp-for="ProductID" class="form-select">
                <option value="">Select a product...</option>
                @foreach (Product p in ViewBag.Products) {
                    <option value="@p.ProductID">@p.Name</option>
                }
            </select>
        </div>
    </div>

    <div class="row mb-3">
        <label asp-for="Title" class="col-form-label col-md-2">Title</label>
        <div class="col">
            <input asp-for="Title" class="form-control">
        </div>
    </div>

    <div class="row mb-3">
        <label asp-for="Description" class="col-form-label col-md-2">Description</label>
        <div class="col">
            <textarea asp-for="Description" class="form-control"></textarea>
        </div>
    </div>

    <div class="row mb-3">
        <label asp-for="TechnicianID" class="col-form-label col-md-2">Technician</label>
        <div class="col">
            <select asp-for="TechnicianID" class="form-select">
                @foreach (Technician t in ViewBag.Technicians) {
                    <option value="@t.TechnicianID">@t.Name</option>
                }
            </select>
        </div>
    </div>

    <div class="row mb-3">
        <label asp-for="DateOpened" class="col-form-label col-md-2">Date Opened</label>
        <div class="col">
            <input type="text" asp-for="DateOpened" class="form-control">
        </div>
    </div>

    <div class="row mb-3">
        <label asp-for="DateClosed" class="col-form-label col-md-2">Date Closed</label>
        <div class="col">
            <input type="text" asp-for="DateClosed" class="form-control">
        </div>
    </div>

    <input type="hidden" asp-for="IncidentID" />

    <div class="row">
        <div class="col">
            <button type="submit" class="btn btn-primary">Save</button>
            <a asp-action="List" class="btn btn-primary">Cancel</a>
        </div>
    </div>
    
</form>